<%= link_to "Create Product", new_product_path %>
<h3>List Products</h3>

<p>
  Search <input type="text" id="search" placeholder="Search by nama or price" />
</p>
<input id="direction" type="checkbox" value="true" style="display:none" />
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th id="nama">Nama</th>
      <th>Quantity</th>
      <th id="price">Price</th>
      <th>Photo</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="content-products">
    <%= render "list_products"%>
  </tbody>
</table>
<div class="ancor-dialog"></div>
<%= javascript_include_tag 'customs/index_products' %>