<h3>Detail Product</h3>

<h4><b>Nama     : </b> <%= @product.nama %></h4> <br />
<h4><b>Quantity : </b> <%= @product.quantity %></h4> <br />
<h4><b>Price    : </b> <%= @product.price %></h4> <br />

<%= link_to "back", products_path, class: "btn btn-raised btn-info" %>
